{{define "sidebar"}}
{{$active := .Active}}
<aside id="sidebar">
  <div class="">
    <h5>Recent posts</h5>
    <ul class="nav flex-column">

    </ul>

    <h5>Notifications</h5>
    <ul class="nav flex-column">

    </ul>
  </div>
</aside>
{{end}}
